body {
    font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    background-color: #FFFFFF;
}

.logo {
    text-decoration: none;
    font-size: 14pt;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5300A2;
}

nav .link {
    float: right;

}

nav .logo {
    float: left;
}

nav li a {
    color: white;
    font-size: 14pt;
    padding: 10px;
    padding-right: 12px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #2E003A;
}

#sidebar {
    position: absolute;
    left: 8px;
    width: 15em;
    min-height: 100vh;
    background-color: #ECECEC;
}

#content {
    margin-left: 15em;
    margin-right: 10%;
}

#content h1,
h2,
h3,
p {
    margin-left: 20px;
}

#content h2 {
    font-size: 14pt;
    font-weight: normal;
}

#sidebar a {
    text-decoration: none;
    text-decoration-line: underline;
    font-weight: 500;
    margin-left: 10px;
}

#sidebar a:hover {
    color: #C279EA;
}

#sidebar p {
    margin-top: 5px;
    margin-left: 10px;
}

#one {
    padding-top: 10px;
    display: block;
    width: auto;
}

#two,
#three {
    margin-top: -5px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3rem;
}

footer {
    background-color: #777;
    text-align: center;
    color: white;
    position: fixed;
    left: 0;
    padding: 5px;
    bottom: 0;
    width: 100%;
}

#tbl_one {
    float: left;
}

#tbl_two {
    float: right;
}

#content_power {
    display: flex;
    margin-right: 60px;
}

#content_power h1{
    text-align: center;
}

#tbl_one,
#tbl_two {
    flex: 50%;
    padding: 10px;
    height: 300px;
    margin-left: 30px;
}

table {
    width: 100%;
    
}

tr:nth-child(even) {
    background-color: #e7e1ed;
}

table td {
    text-align: center;
    padding: 10px;
}

table,
th,
td {
    border: 1px solid black;
}

table th {
    background-color: #5300A2;
    color: white;
    padding: 5px;
}
